language: r
cache: packages

notifications:
  email:
    recipients:
     - alerts@jumpingrivers.support
    on_success: change
    on_failure: change

r_packages:
  - drat

before_install:
  - sudo apt-get install -y libudunits2-dev libgdal-dev
  - tlmgr install fancyvrb units

before_script:
  - wget https://raw.githubusercontent.com/jr-packages/drat/master/test_deploy.sh
  - bash test_deploy.sh
  - rm test_deploy.sh
  
script:
  - R CMD build
  - R CMD check *tar.gz
  - Rscript -e 'lintr::lint_package()'

after_success:
  - wget https://raw.githubusercontent.com/jr-packages/drat/master/deploy.sh
  - test $TRAVIS_PULL_REQUEST == "false" && test $TRAVIS_BRANCH == "master" && bash deploy.sh
